## ================================================##
# Application environment settings
NODE_ENV=development                       
APP_PORT=3000                             
FRONTEND_DOMAIN=http://localhost         
BACKEND_DOMAIN=http://localhost          
API_PREFIX=api                        
APP_FALLBACK_LANGUAGE=en                
APP_HEADER_LANGUAGE=x-custom-lang         
 